<!-- CSS Page Style -->
<link rel="stylesheet" href="/assets/unify/css/pages/page_404_error.css">

<!--=== Content Part ===-->
<div class="container content">
	<!--Shop Done Block-->
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
      <div class="error-v1">
				<span>訂購完成</span>
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>訂購商品</td>
              <td><%= item.RecipeOrder.Recipe.perfumeName + " 100 ml" %></td>
            </tr>
            <tr>
              <td>交易編號</td>
              <td><%= item.TradeNo %></td>
            </tr>
            <tr>
              <td>應付金額</td>
              <td><%= item.ShouldTradeAmt %></td>
            </tr>
            <% if(item.BankCode){ %>
              <tr>
                <td>銀行代碼</td>
                <td><%= item.BankCode %></td>
              </tr>
            <% } %>
						<% if(item.vAccount){ %>
	            <tr>
	              <td>銀行帳號</td>
	              <td><%= item.vAccount %></td>
	            </tr>
						<% } %>
						<% if(item.ExpireDate){ %>
	            <tr>
	              <td>付款期限</td>
	              <td><%= item.ExpireDate %></td>
	            </tr>
						<% } %>
            <tr>
              <td>收件者電話</td>
              <td><%= item.RecipeOrder.phone ? item.RecipeOrder.phone : " " %></td>
            </tr>
            <tr>
              <td>收件者住址</td>
              <td><%= item.RecipeOrder.address ? item.RecipeOrder.address : " " %></td>
            </tr>
            <tr>
              <td>備註</td>
              <td><%= item.RecipeOrder.note ? item.RecipeOrder.note : " " %></td>
            </tr>
						<% if(item.RecipeOrder.invoiceNo){ %>
	            <tr>
	              <td>發票號碼</td>
	              <td><%= item.RecipeOrder.invoiceNo %></td>
	            </tr>
						<% } %>
          </tbody>
        </table>

				<p>感謝您的訂購！</p>
				<a class="btn-u btn-bordered" href="/recipe/<%= item.RecipeOrder.Recipe.hashId %>">返回香料配方</a>
			</div>
		</div>
	</div>
	<!--Shop Done Block-->
</div>
<!--=== End Content Part ===-->
