<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <title>LFP: 香料香水實驗室，客製專屬香水</title>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/custom/labfnp/favicon.ico">

  <!-- Web Fonts -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">
  <link rel="stylesheet" href="/fonts/notosanstc.css">

  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="/unify/plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/unify/css/style.css">

  <!-- CSS Header and Footer -->
  <link rel="stylesheet" href="/unify/css/headers/header-default.css">
  <link rel="stylesheet" href="/unify/css/footers/footer-v1.css">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="/unify/plugins/animate.css">
  <link rel="stylesheet" href="/unify/plugins/line-icons/line-icons.css">
  <link rel="stylesheet" href="/unify/plugins/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/unify/plugins/owl-carousel/owl-carousel/owl.carousel.css">
  <link rel="stylesheet" href="/unify/plugins/brand-buttons/brand-buttons-inversed.css">

  <!-- CSS Page Style -->
  <% getStylesheets().forEach(function(href) { %><link rel="stylesheet" href="<%= href %>">
  <% }); %>

  <!-- CSS Theme -->
  <link rel="stylesheet" href="/unify/css/theme-colors/default.css" id="style_color">
  <link rel="stylesheet" href="/unify/css/theme-skins/dark.css">

  <!-- CSS Customization -->
  <link rel="stylesheet" href="/unify/css/custom.css">

  <!-- LFP Custom -->
  <script type="text/javascript" src="http://fast.fonts.net/jsapi/7f58b6ea-6323-40cb-8b49-940b1ba0ebe8.js"></script>

  <!-- Layout Custom -->
  <link rel="stylesheet" href="/custom/labfnp/css/custom.css">

  <!-- CSS Page Block -->
  <style type="text/css">
  <%- getStylesheetBlock() %>
  </style>

</head>

<body>
  <div class="wrapper">

    <!--=== Header ===-->
    <div class="header">
      <div class="container">
        <!-- Logo -->
        <a class="logo" href="/">
          <img src="/custom/labfnp/img/lfp-logo.png" width="103" height="39" alt="Logo">
        </a>
        <!-- End Logo -->

        <!-- Topbar -->
        <div class="topbar">
          <ul class="loginbar pull-right">
            <% if (!req.session.authenticated) { %>
              <li><a href="/register">註冊</a></li>
              <li class="topbar-devider"></li>
              <li><a href="/login">登入</a></li>
            <% } else { %>
              <li><a href="/logout">登出</a></li>
              <li class="topbar-devider"></li>
              <li>
                <a href="/user/<%= req.session.passport.user.id %>">
                  <%= req.session.passport.user.displayName %>
                </a>
              </li>
            <% } %>
          </ul>
        </div>
        <!-- End Topbar -->

        <!-- Toggle get grouped for better mobile display -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="fa fa-bars"></span>
        </button>
        <!-- End Toggle -->
      </div><!--/end container-->

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
        <div class="container">
          <ul class="nav navbar-nav">
            <li class="<%= (req.path=='/')?'active':'' %>">
              <a href="/">首頁</a>
            </li>
            <li class="<%= (req.path=='/explore')?'active':'' %>">
              <a href="/explore">實驗室</a>
            </li>
            <li class="<%= (req.path=='/wall')?'active':'' %>">
              <a href="/wall">近期動態</a>
            </li>
            <li class="<%= (req.path=='/blog')?'active':'' %>">
              <a href="/blog">網誌</a>
            </li>
            <li class="<%= (req.path=='/shop')?'active':'' %>">
              <a href="/shop">活動報名</a>
            </li>
          </ul>
        </div><!--/end container-->
      </div><!--/navbar-collapse-->
    </div>
    <!--=== End Header ===-->

    <%- body -%>

    <!-- Common Footer -->
    <% include footer.ejs %>

  </div><!--/wrapper-->

<% include scripts.ejs %>

</body>
</html>
