<% LayoutUtils.addStylesheets('/assets/unify/css/pages/profile.css'); %>
<% LayoutUtils.addStylesheets('/assets/labfnp/css/chosen/chosen.css'); %>
<!--<div class="container">-->
<!--<pre><%= JSON.stringify(recipe, null, 2) %></pre>-->
<!--</div>-->

<style>
  .cover-photo {
    min-height: 150px;
  }
  .drops,
  .scent {
    font-size: 16px;
    font-weight: bold;
    color: black;
  }
  .scent {
    padding: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    color: white;
  }
  .shareSticker {
    max-width: 360px;
    padding-top: 10px;
  }
  .rrssb-buttons a {
    -webkit-filter: saturate(0.5);
    -moz-filter: saturate(0.5);
    -ms-filter: saturate(0.5);
    -o-filter: saturate(0.5);
    filter: saturate(0.5);
  }
  .rrssb-buttons a:hover {
    -webkit-filter: saturate(1);
    -moz-filter: saturate(1);
    -ms-filter: saturate(1);
    -o-filter: saturate(1);
    filter: saturate(1);
  }
  .panel-heading {
    padding-right: 0 !important;
  }
  .required {
    color: red;
  }
  #smubmit {
    width: 100%;
  }
  section {
    padding-bottom: 10px;
  }
  .chosen-container-multi .chosen-choices {
    background: white;
    border-radius: 0;
    min-height: 34px;
    border: 1px solid #ccc;
    padding-top: 2px;
  }
  .error-text {
    color: #fc1a1a;
    opacity: 0;
    transform: translateY(-2px);
    transition: 0.2s all;
  }
  .error-text.show {
    opacity: 1;
    transform: translateY(0);
    transition: 0.2s all;
  }

</style>

<div class="container content profile">
  <input type="hidden" name="id" class="hidden" value="<%= recipe.id %>" disabled>

  <!-- begin row -->
  <div class="row">

    <div class="col-md-6 col-md-offset-3">

      <div class="panel-heading overflow-h">

        <h2 class="pull-left">
          <i class="fa fa-comment-o" aria-hidden="true"></i>感覺回饋</h2>
        <a href="#!" onclick="window.history.back()" class="btn-u btn-u-dark pull-right">返回</a>

      </div>

      <!-- begin .profile-body -->
      <div class="profile-body">

        <div class="projects">

          <h2>
            <span class="padding-5"><%= recipe.perfumeName %></span>
          </h2>

          <ul class="list-unstyled list-inline blog-info-v2">
            <li>
              <i class="fa fa-user"></i>
              <a class="color-green" href="#">
                <%= recipe.authorName %>
              </a>
            </li>
            <li>
              <i class="fa fa-clock-o"></i>
              <%=: recipe.createdAt | formatDate %>
            </li>
            <li>
              <i class="fa fa-thumbs-o-up"></i>
              <%= recipe.UserLikeRecipes.length %></li>
          </ul>
          <hr/>

          <div class="row">
            <div class="col col-md-12">
              <div id="pieChart" class="text-center"></div>
            </div>
          </div>

          <!-- <label for="description">描述</label> -->
          <ul class="list-unstyled list-inline description">
            <li>
              <p class="padding-5"><%= recipe.description %></p>
            </li>
          </ul>


		  <% if(recipe.message.length >0){ %>
            <hr/>
            <!-- <label for="message">備註</label> -->
            <ul class="list-unstyled list-inline message">
              <li>
                <p class="padding-5"><%= recipe.message %></p>
              </li>
            </ul>
     	  <% } %>
        </h4>
      </div>

      <br/>

      <div class="text-center">
        <h3>
          <i class="fa fa-info-circle" aria-hidden="true"></i>
          <label>回饋內容</label>
        </h3>
      </div>

      <div class="projects form-group" id="orderFormWrapper">
        <form class="orderForm" id="orderForm" action="/" method="post">
          <input type="hidden" class="form-control" name="UserId" value="<%= user.id %>" >
          <input type="hidden" class="form-control" name="RecipeId" value="<%= recipe.id %>" >
          <section class="col">
            <label for="reciverName">發票號碼
            </label>
            <input type="text" value="<%= recipeFeedback.invoiceNo %>" class="form-control" name="invoiceNo" placeholder="選填，有發票號碼請填寫" >
          </section>

          <section class="col">
            <label for="phone">交易序號
            </label>
            <input type="text" value="<%= recipeFeedback.tradeNo %>" class="form-control" name="tradeNo" placeholder="選填，有交易序號請填寫" >
          </section>

          <section class="col">
            <label for="payment">感覺<span class="required">*</span>
            </label>
            <select multiple name="feeling" class="form-control chosen-select chosen-select-no-results" data-placeholder="請填寫您的感覺（可填寫多個）">
              <option></option>
              <% feelings.forEach(function(feeling) { %>
                <option <%= recipeFeedback.feeling.indexOf(feeling)>=0 ? 'selected' : '' %> value="<%= feeling %>" ><%= feeling %></option>
              <% }); %>
            </select>
          </section>
          <label class="error-text">請填寫您的感覺</label>

        </form>

      </div>

      <div class="text-center">
        <button form="orderForm" id="smubmit" type="sumbit" class="btn-u btn-u-green" data-id="<%= recipe.id %>">
          <i class="fa fa-check" aria-hidden="true"></i>
          送出
        </button>
      </div>

    </div>
    <!-- end .profile-body -->
    <div class="text-center padding-bottom-5"></div>

  </div>
  <!-- end col -->

</div>
<!-- end row -->
</div>
<% LayoutUtils.addScripts ('/assets/admin/js/plugin/d3/d3.min.js'); %>
<% LayoutUtils.addScripts ('/assets/admin/js/plugin/d3/d3pie.min.js'); %>
<% LayoutUtils.addScripts('/assets/labfnp/page/recipe/pieChart.js'); %>
<% LayoutUtils.addScripts('/assets/labfnp/page/recipe/favorite.js'); %>
<% LayoutUtils.addScripts('/assets/labfnp/lib/chosen/chosen.jquery.min.js'); %>
<% LayoutUtils.addScripts('/assets/labfnp/page/recipe/feedback.js'); %>
