<% LayoutUtils.addStylesheets('/assets/unify/css/pages/profile.css'); %>
<!--<div class="container">-->
<!--<pre><%= JSON.stringify(recipe, null, 2) %></pre>-->
<!--</div>-->

<style>
  .cover-photo {
    min-height: 150px;
  }
  .drops,
  .scent {
    font-size: 16px;
    font-weight: bold;
    color: black;
  }
  .scent {
    padding: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    color: white;
  }
  .shareSticker {
    max-width: 360px;
    padding-top: 10px;
  }
  .rrssb-buttons a {
    -webkit-filter: saturate(0.5);
    -moz-filter: saturate(0.5);
    -ms-filter: saturate(0.5);
    -o-filter: saturate(0.5);
    filter: saturate(0.5);
  }
  .rrssb-buttons a:hover {
    -webkit-filter: saturate(1);
    -moz-filter: saturate(1);
    -ms-filter: saturate(1);
    -o-filter: saturate(1);
    filter: saturate(1);
  }
  .panel-heading {
    padding-right: 0 !important;
  }
  .required {
    color: red;
  }
  #smubmit {
    width: 100%;
  }
  section {
    padding-bottom: 10px;
  }

</style>

<div class="container content profile">
  <input type="hidden" name="id" class="hidden" value="<%= recipe.id %>" disabled>

  <!-- begin row -->
  <div class="row">

    <div class="col-md-6 col-md-offset-3">

      <div class="panel-heading overflow-h">

        <h2 class="pull-left">
          <i class="fa fa-shopping-cart " aria-hidden="true"></i>確認訂單</h2>
        <a href="#!" onclick="window.history.back()" class="btn-u btn-u-dark pull-right">返回</a>

      </div>

      <!-- begin .profile-body -->
      <div class="profile-body">

        <div class="projects">

          <h2>
            <span class="padding-5"><%= recipe.perfumeName %></span>
          </h2>

          <ul class="list-unstyled list-inline blog-info-v2">
            <li>
              <i class="fa fa-user"></i>
              <a class="color-green" href="#">
                <%= recipe.authorName %>
              </a>
            </li>
            <li>
              <i class="fa fa-clock-o"></i>
              <%=: recipe.createdAt | formatDate %>
            </li>
            <li>
              <i class="fa fa-thumbs-o-up"></i>
              <%= recipe.UserLikeRecipes.length %></li>
          </ul>
          <hr/>

          <div class="row">
            <div class="col col-md-12">
              <div id="pieChart" class="text-center"></div>
            </div>
          </div>

          <!-- <label for="description">描述</label> -->
          <ul class="list-unstyled list-inline description">
            <li>
              <p class="padding-5"><%= recipe.description %></p>
            </li>
          </ul>


		  <% if(recipe.message.length >0){ %>
            <hr/>
            <!-- <label for="message">備註</label> -->
            <ul class="list-unstyled list-inline message">
              <li>
                <p class="padding-5"><%= recipe.message %></p>
              </li>
            </ul>
     	  <% } %>
        </h4>
      </div>

      <br/>

      <div class="text-center">
        <h3>
          <i class="fa fa-info-circle" aria-hidden="true"></i>
          <label>配送資料</label>
        </h3>
      </div>

      <div class="projects form-group" id="orderFormWrapper">
        <form class="orderForm" id="orderForm" action="" method="post">

          <section class="col">
            <label for="reciverName">收件人姓名<span class="required">*</span>
            </label>
            <input type="text" id="reciverName" class="form-control" name="reciverName" value="" placeholder="請輸入姓名..." required>
          </section>

          <section class="col">
            <label for="phone">收件人電話<span class="required">*</span>
            </label>
            <input type="text" id="phone" class="form-control" name="phone" value="" placeholder="請輸入電話..." required>
          </section>

          <section class="col">
            <label for="address">收件地址<span class="required">*</span>
            </label>
            <input type="text" id="address" class="form-control" name="address" value="" placeholder="請輸入地址..." required>
          </section>

          <section class="col">
            <label for="payment">付款方式<span class="required">*</span>
            </label>
            <select class="form-control" id="payment" class="form-control" name="payment" required>
              <option value="creditCard">信用卡</option>
              <option value="atm">ATM轉帳</option>
              <option value="shop">到店付款</option>
            </select>
          </section>

        </form>

      </div>

      <div class="text-center">
        <button form="orderForm" id="smubmit" type="sumbit" class="btn-u btn-u-green" data-id="<%= recipe.id %>">
          <i class="fa fa-check" aria-hidden="true"></i>
          送出
        </button>
      </div>

    </div>
    <!-- end .profile-body -->
    <div class="text-center padding-bottom-5"></div>

  </div>
  <!-- end col -->

</div>
<!-- end row -->
</div>
<% LayoutUtils.addScripts ('/assets/admin/js/plugin/d3/d3.min.js'); %>
<% LayoutUtils.addScripts ('/assets/admin/js/plugin/d3/d3pie.min.js'); %>
<% LayoutUtils.addScripts('/assets/labfnp/page/recipe/pieChart.js'); %>
<% LayoutUtils.addScripts('/assets/labfnp/page/recipe/favorite.js'); %>
