<% if (recipe.createdBy === 'scent') { %>
  <header>新香水配方 - 自訂香味分子</header>
<% } else { %>
  <header>新香水配方 - 由感覺選取</header>
<% } %>
<input type="text" class="hidden" name="createdBy" value="<%= recipe.createdBy %>" />

<fieldset>
  <section>
    <label class="label">創作者姓名（必填）</label>
    <label class="input">
      <input type="text" name="authorName" placeholder="Enter Name" value="<%= user.displayName %>" />
    </label>
  </section>

  <section>
    <label class="label">香水品名（必填）</label>
    <label class="input">
      <input type="text" name="perfumeName" value="<%= recipe.perfumeName %>" placeholder="Enter Perfume Name" />
    </label>
  </section>

  <section>
    <label class="label">公開狀態</label>
    <label class="select">
      <select name="visibility" class="scents-categories">
        <option <%= recipe.visibility == 'PUBLIC'?'selected':'' %> value="PUBLIC" selected>公開</option>
        <option <%= recipe.visibility == 'PRIVATE'?'selected':'' %> value="PRIVATE">私密</option>
        <!--option <%= recipe.visibility == 'PROTECTED'?'selected':'' %> value="PROTECTED">半公開</option-->
      </select>
      <i></i>
  </section>

  <section>
    <label class="label">香水描述</label>
    <label class="textarea textarea-resizable">
      <textarea name="description" value="<%= recipe.description %>" rows="3"><%= recipe.description %></textarea>
    </label>
  </section>

  <section>
    <label class="label">封面圖片</label>
    <%- include ../../lib/fineuploader.ejs %>
    <div id="fine-uploader-validation"></div>
  </section>

</fieldset>

<% if (recipe.createdBy === 'scent') { %>
  <%- include form-scent.ejs %>
<% } else { %>
  <%- include form-feeling.ejs %>
<% } %>

<!-- <fieldset>

  <section>
    <label class="label">備註</label>
    <label class="textarea textarea-resizable">
      <textarea name="message" rows="3" value="<%= recipe.message %>"><%= recipe.message %></textarea>
    </label>
  </section>

</fieldset> -->

<footer>
  <div class="alert alert-danger submittedInfo" style="display:none;">
    <label class="text-danger"> <strong>注意！</strong>配方更新中...</label>
  </div>
  <button type="submit" class="btn-u">送出資料</button>
  <button type="button" class="btn-u btn-u-default" onclick="window.history.back();">返回</button>
  <button id="recipeDeleteButton" data-id="<%= recipe.id %>" type="button" class="btn-u btn-u-red pull-right <%= req.options.action== 'edit'?'':'hidden' %>" >刪除</button>
</footer>
