<header>新香水配方</header>

<fieldset>
  <section>
    <label class="label">創作者姓名（必填）</label>
    <label class="input">
      <input type="text" name="authorName" placeholder="Enter Name" value="<%= user.displayName %>" required />
    </label>
  </section>

  <section>
    <label class="label">香水品名（必填）</label>
    <label class="input">
      <input type="text" name="perfumeName" value="<%= recipe.perfumeName %>" placeholder="Enter Perfume Name" required />
    </label>
  </section>

  <section>
    <label class="label">公開狀態</label>
    <label class="select">
      <select name="visibility" class="scents-categories">
        <option <%= recipe.visibility == 'PUBLIC'?'selected':'' %> value="PUBLIC" selected>公開</option>
        <option <%= recipe.visibility == 'PRIVATE'?'selected':'' %> value="PRIVATE">私密</option>
        <!--option <%= recipe.visibility == 'PROTECTED'?'selected':'' %> value="PROTECTED">半公開</option-->
      </select>
      <i></i>
  </section>

  <section>
    <label class="label">香水描述</label>
    <label class="textarea textarea-resizable">
      <textarea name="description" value="<%= recipe.description %>" rows="3"></textarea>
    </label>
  </section>

  <section>
    <label class="label">封面圖片</label>
    <%- include ../../lib/fineuploader.ejs %>
    <div id="fine-uploader-validation"></div>
  </section>

</fieldset>

<fieldset>
  <% recipe.formula.forEach(function(formula) { %>
    <div class="row">
      <section class="col col-3">
        <label class="label">分類</label>
        <label class="select">
          <select class="scents-categories" data-index="<%= formula.index %>">
            <option></option>
            <option value="T" <%= formula.scentCategory == 'T'?'selected':'' %> >T - 前味</option>
            <option value="M" <%= formula.scentCategory == 'M'?'selected':'' %> >M - 中味</option>
            <option value="B" <%= formula.scentCategory == 'B'?'selected':'' %> >B - 後味</option>
          </select>
          <i></i>
        </label>
      </section>
      <section class="col col-7">
        <label class="label">所選之香味分子<%= formula.num %></label>
        <label class="select">
          <select name="formulaScents[<%= formula.index %>]" class="scents-dropdown" data-index="<%= formula.index %>">
            <option value=""></option>
            <% scents.forEach(function(scent) { %>
              <option
                <%= formula.scentName == scent.name ?'selected':'' %>
                value="<%= scent.name %>"
                data-color="<%= scent.color %>"
                data-title="<%= scent.title %>"
                data-description="<%= scent.description %>"
              >
                <%= scent.name +" - "+ scent.description.split("，")[0].split("。")[0] %>
              </option>
            <% }); %>
          </select>
          <i></i>
        </label>
      </section>
      <section class="col col-2">
        <label class="label">滴數</label>
        <label class="input">
          <input type="number" name="formulaDrops[<%= formula.index %>]" value="<%= formula.drops %>" class="scents-drops" data-index="<%= formula.index %>">
        </label>
      </section>
    </div>
    <div class="row hidden scent-detail" data-index="<%= formula.index %>">
      <div class="col-md-12">
        <div id="scent-content" class="funny-boxes bg-color-white">
          <h2 id="scent-title">AAA</h2>
          <p id="scent-description">BBB</p>
        </div>
      </div>
    </div>

  <% }); %>
</fieldset>

<fieldset>

  <section>
    <label class="label">備註</label>
    <label class="textarea textarea-resizable">
      <textarea name="message" rows="3"></textarea>
    </label>
  </section>

</fieldset>

<footer>
  <button type="submit" class="btn-u">送出資料</button>
  <button type="button" class="btn-u btn-u-default" onclick="window.history.back();">返回</button>
  <button id="recipeDeleteButton" data-id="<%= recipe.id %>" type="button" class="btn-u btn-u-red pull-right <%= req.options.action== 'edit'?'':'hidden' %>" >刪除</button>
</footer>
