
<% LayoutUtils.addStylesheets('/assets/labfnp/css/tagging.css'); %>

<fieldset>
  <% recipe.formula.forEach(function(formula) { %>
    <div class="row">
      <section class="col col-3">
        <label class="label">分類</label>
        <label class="select">
          <select class="scents-categories" data-index="<%= formula.index %>">
            <option></option>
            <option value="T" <%= formula.scentCategory == 'T'?'selected':'' %> >T - 前味</option>
            <option value="M" <%= formula.scentCategory == 'M'?'selected':'' %> >M - 中味</option>
            <option value="B" <%= formula.scentCategory == 'B'?'selected':'' %> >B - 後味</option>
          </select>
          <i></i>
        </label>
      </section>
      <section class="col col-7">
        <label class="label">所選之香味分子<%= formula.num %></label>
        <label class="select">
          <select name="formulaScents[<%= formula.index %>]" class="scents-dropdown" data-index="<%= formula.index %>">
            <option value=""></option>
            <% scents.forEach(function(scent) { %>
              <option
                <%= formula.scentName == scent.name ?'selected':'' %>
                value="<%= scent.name %>"
                data-color="<%= scent.color %>"
                data-title="<%= scent.title %>"
                data-description="<%= scent.description %>"
              >
                <%= scent.name %>
              </option>
            <% }); %>
          </select>
          <i></i>
        </label>
      </section>
      <section class="col col-2">
        <label class="label">滴數</label>
        <label class="input">
          <input type="number" name="formulaDrops[<%= formula.index %>]" value="<%= formula.drops %>" class="scents-drops" data-index="<%= formula.index %>">
        </label>
      </section>
    </div>
    <div class="row hidden scent-detail" data-index="<%= formula.index %>">
      <div class="col-md-12">
        <div id="scent-content" class="funny-boxes bg-color-white">
          <h2 id="scent-title">AAA</h2>
          <p id="scent-description">BBB</p>
          <div class="tags" >
          </div>
        </div>
      </div>
    </div>

  <% }); %>
</fieldset>
