<!-- common tags-->
<% LayoutUtils.addMeta({ property:"author", content:recipe.authorName }); %>
<% LayoutUtils.addMeta({ property:"description", content:recipe.description }); %>

<!-- FB OG tags-->
<% LayoutUtils.addMeta({ property:"og:title", content:"配方名稱：" + recipe.perfumeName + " | LFP: 香料香水實驗室，客製專屬香水"}); %>
<% LayoutUtils.addMeta({ property:"og:description", content:recipe.description }); %>
<% LayoutUtils.addMeta({ property:"og:image", content:SocialService.getShareUrl() + recipe.coverPhoto }); %>
<% LayoutUtils.addMeta({ property:"og:image:type", content:"image/jpeg" }); %>
<% LayoutUtils.addMeta({ property:"og:image:width", content:"1200" }); %>
<% LayoutUtils.addMeta({ property:"og:image:height", content:"630" }); %>
<% LayoutUtils.addMeta({ property:"og:type", content:"article" }); %>
<% LayoutUtils.addMeta({ property:"article:published_time", content:recipe.createdAtIso })  %>
<% LayoutUtils.addMeta({ property:"article:modified_time", content:recipe.updatedAtIso }) %>
<% LayoutUtils.addMeta({ property:"article:author", content:recipe.authorFbPage }); %>
<% LayoutUtils.addMeta({ property:"article:section", content:"配方實驗室" }); %>
<% LayoutUtils.addMeta({ property:"article:tag", content:"配方" }); %>
<% LayoutUtils.addMeta({ property:"article:tag", content:"香水" }); %>
<% LayoutUtils.addMeta({ property:"article:tag", content:"perfume" }); %>
<% LayoutUtils.addMeta({ property:"article:tag", content:"LFP" }); %>
<% LayoutUtils.addMeta({ property:"article:tag", content:"LabFnP" }); %>


<% LayoutUtils.addStylesheets('/assets/unify/css/pages/profile.css'); %>
<!--<div class="container">-->
<!--<pre><%= JSON.stringify(recipe, null, 2) %></pre>-->
<!--</div>-->

<style>
  .cover-photo {
    min-height: 150px;
  }
  .drops,
  .scent {
    font-size: 16px;
    font-weight: bold;
    color: black;
  }
  .scent {
    padding: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    color: white;
  }
  .shareSticker {
    max-width: 360px;
    padding-top: 10px;
  }
  .rrssb-buttons a {
    -webkit-filter: saturate(0.5);
    -moz-filter: saturate(0.5);
    -ms-filter: saturate(0.5);
    -o-filter: saturate(0.5);
    filter: saturate(0.5);
  }
  .rrssb-buttons a:hover {
    -webkit-filter: saturate(1);
    -moz-filter: saturate(1);
    -ms-filter: saturate(1);
    -o-filter: saturate(1);
    filter: saturate(1);
  }
  .panel-heading {
    padding-right: 0 !important;
  }

</style>

<div class="container content profile">
  <input type="hidden" name="id" class="hidden" value="<%= recipe.id %>" disabled>

  <!-- begin row -->
  <div class="row">

    <div class="col-md-8 col-md-offset-2">

      <div class="panel-heading overflow-h">

        <h2 class="pull-left">
          <i class="fa fa-info-circle" aria-hidden="true"></i>配方內容</h2>
        <a href="/recipe/edit/<%= recipe.hashId %>?from=<%= recipe.createdBy%>"
          class="btn-u btn-u-dark pull-right <%= editable?'':'hidden' %>">編輯</a>
        <a onclick='history.back()' class="btn-u btn-u-dark pull-right">返回</a>

      </div>

      <!-- begin .profile-body -->
      <div class="profile-body">

        <div class="easy-block-v1">
          <div class="easy-block-v1-badge rgba-red">精選</div>
          <!--<img class="img-responsive cover-photo" src="http://loremflickr.com/640/480/perfume/all?<%= Math.random() * Date.now() %>" alt=""/>-->
          <img class="img-responsive cover-photo" src="<%= recipe.coverPhoto %>" alt="" onerror="this.onerror=null;this.src='/assets/labfnp/img/recipe-default-cover.<%= recipe.id % 7 %>.jpg';"/>
        </div>
        <div class="projects">

          <div class="pull-right">
            <a href="/recipe/feedback/<%= recipe.hashId %>" class="btn-u btn-u-orange">
              <i class="fa fa-comment-o" aria-hidden="true"></i>
              感覺回饋
            </a>
            <button id="likeButton" class="btn-u btn-u-red" data-id="<%= recipe.id %>" data-like="<%= recipe.currentUserLike %>">
              <i class="fa <%= recipe.currentUserLike ? 'fa-heart': 'fa-heart-o' %>" aria-hidden="true"></i>
              收藏
            </button>
            <a href="/recipe/order/<%= recipe.hashId %>" id="orderButton" class="btn-u btn-u-blue" data-id="<%= recipe.hashId %>">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              訂購
            </a>
          </div>

          <h2>
            <span class="padding-5"><%= recipe.perfumeName %></span>
          </h2>

          <ul class="list-unstyled list-inline blog-info-v2">
            <li>
              <i class="fa fa-user"></i>
              <a class="color-green" href="/me/<%= recipe.UserId %>">
                <%= recipe.authorName %>
              </a>
            </li>
            <li>
              <i class="fa fa-clock-o"></i>
              <%=: recipe.createdAt | formatDate %>
            </li>
            <li>
              <i class="fa fa-heart-o"></i>
              <%= recipe.UserLikeRecipes.length %></li>
          </ul>
          <hr/>

          <div class="row">
            <div id="wordCloudContainer" class="col col-md-12">
              <div id="wordCloud" class="text-center" data-id="<%= recipe.id %>"></div>
            </div>
            <div class="col col-md-12">
              <div id="pieChart" class="text-center"></div>
            </div>
          </div>

          <!-- <label for="description">描述</label> -->
          <ul class="list-unstyled list-inline description">
            <li>
              <p class="padding-5"><%= recipe.description %></p>
            </li>
          </ul>

          <% if(recipe.message.length >0){ %>
            <!-- <label for="message">備註</label>
            <hr/>
            <ul class="list-unstyled list-inline message">
              <li>
                <p class="padding-5"><%= recipe.message %></p>
              </li>
            </ul>-->
          <% } %>

          <!-- <label for="message">Facebook Comments</label> -->
          <ul class="list-unstyled list-inline fb-comments">
            <div id="fb-comments"></div>
            <script>
              (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.7";
                fjs.parentNode.insertBefore(js, fjs);
              }(document, 'script', 'facebook-jssdk'));
            </script>
          </ul>
        </h4>
      </div>
      <% if(social.targets.length > 0){ %>
        <div class="row shareSticker">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <% var socialData = social.data[0] %>
            <%- include ../../lib/rrssbb.ejs %>
          </div>
        </div>
      <% } %>
      <!-- <div class="project-share">
					<ul class="list-inline comment-list-v2 pull-left">
						<li><i class="fa fa-eye"></i> <a href="#">25</a></li>
						<li><i class="fa fa-comments"></i> <a href="#">32</a></li>
						<li><i class="fa fa-retweet"></i> <a href="#">77</a></li>
					</ul>
					<ul class="list-inline star-vote pull-right">
						<li><i class="color-green fa fa-star"></i></li>
						<li><i class="color-green fa fa-star"></i></li>
						<li><i class="color-green fa fa-star"></i></li>
						<li><i class="color-green fa fa-star-half-o"></i></li>
						<li><i class="color-green fa fa-star-o"></i></li>
					</ul>
				</div> -->

    </div>
    <!-- end .profile-body -->
    <div class="text-center padding-bottom-5"></div>

  </div>
  <!-- end col -->

</div>
<!-- end row -->
</div>
<% LayoutUtils.addScripts ('/assets/admin/js/plugin/d3/d3.min.js'); %>
<% LayoutUtils.addScripts ('/assets/admin/js/plugin/d3/d3pie.min.js'); %>
<% LayoutUtils.addScripts('/assets/labfnp/lib/d3.layout.cloud.js'); %>
<% LayoutUtils.addScripts('/assets/labfnp/page/wordCloud.js'); %>
<% LayoutUtils.addScripts('/assets/labfnp/page/recipe/pieChart.js'); %>
<% LayoutUtils.addScripts('/assets/labfnp/page/recipe/favorite.js'); %>
