
<!-- CSS Page Style -->
<% LayoutUtils.addStylesheets('/assets/unify/css/pages/blog_masonry_3col.css'); %>

<style type="text/css">
#recipeImageContainer{
  /*position: relative;*/
  position:relative;
  display:inline-block;
  text-align:center;
}
/*#recipeImage{
	position: absolute;
	width: 100%;
	height: 100%;

}*/
.recipeLikeContainer {
  border: 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #555;
  text-shadow: none;
  background-color: #fff;
  font-size: 14px;
  opacity: .97;
  position: absolute;
  right: 10px;
  bottom:10px;
	padding: 2px;
  height: 30px;
  width: 30px;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}
.recipeLikeContainer:hover {
  background-color: #efefef;
}
#recipeLikeIcon {
  color: gray;
}
#recipeLikeIcon:hover {
  color: red;
}
</style>


<div class="container content">

	<!-- cover -->
	<img src="/assets/labfnp/img/cover-page-lab.png" alt="" class="img-responsive" />

	<!-- Creator -->
	<% if (req.session.authenticated) { %>
		<div class="text-center">
		  <a href="/creator" class="btn btn-primary">
		    <i class="fa fa-flask fa-fw"></i>
		    創作一個新配方
		  </a>
		  <a href="/me/<%= req.session.passport.user.id %>" class="btn btn-default">
		    <i class="fa fa-user fa-fw"></i>
		    我的配方
		  </a>
	  </div>
	<% } else { %>
		<div class="text-center">
			<p>請先<a href="/login">登入</a>或<a href="/register">立即註冊</a>一組帳號，才能開始創作自己的香水配方。</p>
		</div>
	<% } %>

	<!--=== Content Part ===-->

	<% if (recipes.length == 0) { %>

		<div class="container content">
			<div class="alert alert-success fade in margin-bottom-40">
				<h2>成為第一個創作者</h2>
				<p>請立即登入並開始創作，您將有機會成為本站的第一個創作者！</p>
			</div>
		</div>

	<% } else { %>

		<div class="blog_masonry_3col">

			<hr class="soften" />

			<div class="grid-boxes">

				<% recipes.forEach(function(recipe) { %>

					<div class="grid-boxes-in">

<!-- <button class="Button LikeButton Module PinLikeButton btn hasIcon isBrioFlat likeSmall rounded"
 data-element-type="1" data-source-interest-id="" type="button">
<em></em>
  <span class="accessibilityText">Like</span>
</button> -->


						<a href="/recipe/<%= recipe.id %>" id="recipeImageContainer" >
							<img id="recipeImage" class="img-responsive lazy" src="http://placehold.it/640x480?text=LOADING" data-src="http://loremflickr.com/640/480/perfume<%= ([',girl', ',boy', ''])[parseInt(Math.random() * 3)] %>/all?<%= Math.random() * Date.now() %>" alt="">
							<div class="recipeLikeContainer" data-id="<%= recipe.id %>" data-like="<%= (recipe.UserLikeRecipes.length > 0) %>">
                <i id="recipeLikeIcon" class="fa <%= recipe.UserLikeRecipes.length > 0 ? 'fa-heart': 'fa-heart-o' %> fa-sm"></i>
              </div>
						</a>
						<div class="grid-boxes-caption">
							<h3><a href="/recipe/<%= recipe.id %>"><%= recipe.perfumeName %></a></h3>
							<ul class="list-inline grid-boxes-news">
								<li>
									<i class="fa fa-user"></i>
									<a href="#">
										<%= recipe.authorName %>
									</a>
								</li>
								<li>|</li>
								<li>
									<i class="fa fa-clock-o"></i>
									<%=: recipe.createdAt | formatDateOnly %>
								</li>
								<!--<li>|</li>
								<li><a href="#"><i class="fa fa-comments-o"></i> 06</a></li>-->
							</ul>
							<% if (recipe.message) { %><p><%= recipe.message %></p><% } %>
						</div>
					</div>

				<% }); %>

			</div><!--/container-->
		</div>

	<% } %>
	<!--=== End Content Part ===-->

</div>


<% LayoutUtils.addScriptBlock(`
$(document).ready(function(){
  var $container = $('.grid-boxes');

  var gutter = 30;
  var min_width = 240;
  $container.imagesLoaded( function(){
		$(function() {
      $("img.lazy").unveil(screen.height);
    });
    $container.masonry({
      itemSelector : '.grid-boxes-in',
      gutterWidth: gutter,
      isAnimated: true,
      columnWidth: function( containerWidth ) {
        var box_width = (((containerWidth - 2*gutter)/3) | 0) ;

        if (box_width < min_width) {
            box_width = (((containerWidth - gutter)/2) | 0);
        }

        if (box_width < min_width) {
            box_width = containerWidth;
        }

        $('.grid-boxes-in').width(box_width);

        return box_width;
      }
    });
  });

  $(".recipeLikeContainer").on("click", function(event){
    event.preventDefault()
    var id = $(this).data('id');
    var that = $(this);
    var isLike = that.data('like');
    var successCatch = function(result) {
      var like = that.data('like');
      that.data('like', !like);
      that.find("i").toggleClass("fa-heart");
      that.find("i").toggleClass("fa-heart-o");
    }
    var failCatch = function(error) {
      if (error.responseJSON.message === 'permission denied') {
        alert( "請先進行登入" );
        location.href = '/login';
      }
    }
    if (isLike) {
      $.get('/api/labfnp/recipe/unlike/'+id).done(successCatch).fail(failCatch);
    } else {
      $.get('/api/labfnp/recipe/like/'+id).done(successCatch).fail(failCatch);
    }
  })

});
`); %>
