<% LayoutUtils.addMeta({ property:"og:image", content:SocialService.getShareUrl() + "/assets/labfnp/img/fb-og-image.jpg" }); %>
<% LayoutUtils.addMeta({ property:"og:image:url", content:SocialService.getShareUrl() + "/assets/labfnp/img/fb-og-image.jpg"  }); %>
<% LayoutUtils.addMeta({ property:"og:image:type", content:"image/jpeg" }); %>
<% LayoutUtils.addMeta({ property:"og:image:width", content:"1200" }); %>
<% LayoutUtils.addMeta({ property:"og:image:height", content:"630" }); %>
<% LayoutUtils.addMeta({ property:"og:title", content:"LFP: 香料香水實驗室，客製專屬香水 | 香料實驗室" }); %>
<% LayoutUtils.addMeta({ property:"og:description", content:"每個人身上的氣味與所使用的香水，都應該是獨特而具有標誌性。而唯有透過每個人各自的感受來創造專屬的氣味，才能真正展現出獨一無二、不同的自我。" }); %>
<% LayoutUtils.addMeta({ property:"og:type", content:"website" }); %>

<!-- CSS Page Style -->
<% LayoutUtils.addStylesheets('/assets/unify/css/pages/blog_masonry_3col.css'); %>
<style type="text/css">
#recipeImageContainer{
  /*position: relative;*/
  position:relative;
  display:inline-block;
  text-align:center;
}
/*#recipeImage{
	position: absolute;
	width: 100%;
	height: 100%;

}*/
.recipeLikeContainer {
  border: 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #555;
  text-shadow: none;
  background-color: #fff;
  font-size: 14px;
  opacity: .97;
  position: absolute;
  right: 10px;
  bottom:10px;
	padding: 2px;
  height: 30px;
  width: 30px;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}
.recipeLikeContainer:hover {
  background-color: #efefef;
}
#recipeLikeIcon {
  color: gray;
}
#recipeLikeIcon:hover {
  color: red;
}
.shareSticker {
  max-width: 360px;
  padding-top: 10px;
}
.rrssb-buttons a {
  -webkit-filter: saturate(0.5);
  -moz-filter: saturate(0.5);
  -ms-filter: saturate(0.5);
  -o-filter: saturate(0.5);
  filter: saturate(0.5);
}
.rrssb-buttons a:hover {
  -webkit-filter: saturate(1);
  -moz-filter: saturate(1);
  -ms-filter: saturate(1);
  -o-filter: saturate(1);
  filter: saturate(1);
}
.grid-boxes-in {
  animation: slidein 0.3s 0.1s backwards;
  animation-timing-function: ease-in-out;
  float: left;
}
@keyframes slidein {
  from {
    opacity: 0;
    transform: translateY(8em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.grid-boxes {
  min-height: 500px;
}
.list-inline {
  width: 95%;
  line-height: 14px;
}
.author-name {
  max-width: 30%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-overflow {
  max-width: 99%;
  overflow: hidden;
  text-overflow: ellipsis;;
  white-space: nowrap;
}
</style>


<div class="container content">

	<!-- cover -->
	<img src="/assets/labfnp/img/cover-page-lab.png" alt="" class="img-responsive" />

	<!-- Creator -->
	<% if (req.session.authenticated) { %>
		<div class="text-center">
		  <!-- <a href="/creator" class="btn btn-primary"> -->
		  <a href="#" class="btn btn-primary btn-create-recipe">
		    <i class="fa fa-flask fa-fw"></i>
		    創作一個新配方
		  </a>
		  <a href="/me/<%= req.session.passport.user.id %>" class="btn btn-default">
		    <i class="fa fa-user fa-fw"></i>
		    我的配方
		  </a>
	  </div>
	<% } else { %>
		<div class="text-center">
			<p>請先<a href="/login">登入</a>或<a href="/register">立即註冊</a>一組帳號，才能開始創作自己的香水配方。</p>
		</div>
	<% } %>

	<!--=== Content Part ===-->

	<% if (recipes.length == 0) { %>

		<div class="container content">
			<div class="alert alert-success fade in margin-bottom-40">
				<h2>成為第一個創作者</h2>
				<p>請立即登入並開始創作，您將有機會成為本站的第一個創作者！</p>
			</div>
		</div>

	<% } else { %>

		<div class="blog_masonry_3col">

			<hr class="soften" />

			<div class="grid-boxes" >
        <% recipes.forEach(function(recipe, index) { %>
					<div class="grid-boxes-in col-xs-12 col-sm-6 col-md-4">
						<a href="/recipe/<%= recipe.hashId %>" id="recipeImageContainer" class="easy-block-v1">
              <% if (recipe.visibility == 'PROTECTED') { %>
                <div class="easy-block-v1-badge rgba-red"><%= recipe.visibilityDesc %></div>
              <% } %>
							<!--<img id="recipeImage" class="img-responsive lazy" src="http://placehold.it/640x480?text=LOADING" data-src="http://loremflickr.com/640/480/perfume<%= ([',girl', ',boy', ''])[parseInt(Math.random() * 3)] %>/all?<%= Math.random() * Date.now() %>" alt="">-->
							<img id="recipeImage" class="img-responsive lazy" src="<%= recipe.coverPhoto %>" data-src="<%= recipe.coverPhoto %>" alt="" onerror="this.onerror=null;this.src='/assets/labfnp/img/recipe-default-cover.<%= recipe.id % 7 %>.jpg';">
							<!--<div class="recipeLikeContainer" data-id="<%= recipe.id %>" data-like="<%= recipe.currentUserLike %>">
                <i id="recipeLikeIcon" class="fa <%= recipe.currentUserLike ? 'fa-heart': 'fa-heart-o' %> fa-sm"></i>
              </div>-->
						</a>
						<div class="grid-boxes-caption">
							<h3><a href="/recipe/<%= recipe.hashId %>"><%= recipe.perfumeName %></a></h3>
							<ul class="list-inline grid-boxes-news">
								<li>
									<i class="fa fa-user"></i>
									<!-- <a href="/lab?userId=<%= recipe.UserId %>"> -->
									<a href="/me/<%= recipe.UserId %>">
										<%= recipe.authorName %>
									</a>
								</li>
								<li>|</li>
								<li>
									<i class="fa fa-clock-o"></i>
									<%=: recipe.createdAt | formatDate %>
								</li>
								<li>|</li>
								<li><i class="fa fa-thumbs-o-up"></i> <%= recipe.UserLikeRecipes.length %></li>
							</ul>
							<% if (recipe.description) { %><p><%= recipe.description %></p><% } %>
						</div>
            <!--
            <% if(social.targets.length > 0){ %>
              <div class="row shareSticker" >
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <% var socialData = social.data[index] %>
                  <%- include ../../lib/rrssbb.ejs %>
                </div>
              </div>
            <% } %>
            -->
					</div>
				<% }); %>
      </div><!--/container-->
		</div>

	<% } %>
	<!--=== End Content Part ===-->
  <script id="recipeTmpl" type="text/x-jquery-tmpl">
    <div class="grid-boxes-in col-xs-12 col-sm-6 col-md-4">
      <a href="/recipe/${recipe.hashId}" id="recipeImageContainer" class="easy-block-v1">
        {{if recipe.visibility == 'PROTECTED'}}
          <div class="easy-block-v1-badge rgba-red">${recipe.visibilityDesc}</div>
        {{/if}}
        <img id="recipeImage" class="img-responsive lazy" src="${recipe.coverPhoto}" data-src="${recipe.coverPhoto}" alt="" onerror="this.onerror=null;this.src='/assets/labfnp/img/recipe-default-cover.${recipe.id % 7}.jpg';">
        <!-- <div class="recipeLikeContainer" data-id="${recipe.id}" data-like="${recipe.currentUserLike}">
           <i id="recipeLikeIcon" class="fa {{if recipe.currentUserLike }} fa-heart {{else}} fa-heart-o {{/if}} fa-sm"></i>
        </div> --!>
      </a>
      <div class="grid-boxes-caption">
        <h3 class="text-overflow"><a href="/recipe/${recipe.id}">${recipe.perfumeName}</a></h3>
        <ul class="list-inline grid-boxes-news">
          <li class="text-overflow author-name">
            <i class="fa fa-user"></i>
            <a href="/me/${recipe.UserId}">
              ${recipe.authorName}
            </a>
          </li>
          <li>|</li>
          <li>
            <i class="fa fa-clock-o"></i>
            ${recipe.createdAt.split(' ')[0]}
          </li>
          <li>|</li>
          <li><i class="fa fa-heart-o"></i> ${recipe.UserLikeRecipes.length}</li>
        </ul>
        {{if recipe.description}}
          <p>${recipe.description}</p>
        {{/if}}
      </div>
    </div>
    <!-- <%- include ../../lib/rrssbbtmpl.ejs %> -->
  </script>

</div>

<%- include recipeCreateBox.inc.ejs %>

<% LayoutUtils.addScripts('/assets/labfnp/page/explore/index.js'); %>
