<% LayoutUtils.addStylesheets('/assets/unify/css/pages/profile.css'); %>
  <!--<div class="container">-->
  <!--<pre><%= JSON.stringify(recipe, null, 2) %></pre>-->
  <!--</div>-->

  <style>
    .cover-photo {
      min-height: 150px;
    }
    .drops, .scent {
      font-size: 16px;
      font-weight: bold;
      color: black;
    }
    .scent {
      padding: 2px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border: none;
      color: white;
    }
  </style>


  <div class="container content profile">

    <!-- begin row -->
    <div class="row">

      <div class="col-md-6 col-md-offset-3">

        <!-- begin .profile-body -->
        <div class="profile-body">

          <div class="easy-block-v1">
            <div class="easy-block-v1-badge rgba-red">配方詳細資料</div>
            <img class="img-responsive cover-photo" src="http://loremflickr.com/640/480/perfume<%= ([',girl', ',boy', ''])[parseInt(Math.random() * 3)] %>/all?<%= Math.random() * Date.now() %>" alt="" />
          </div>
          <div class="projects">
            <h2><small>配方成份</small></h2>
            <h1><p><span class="padding-5"><%= recipe.perfumeName %></span></p></h1>
            <ul class="list-unstyled list-inline blog-info-v2">
              <li>
                By:
                <a class="color-green" href="#">
                  <%= recipe.authorName %>
                </a>
              </li>
              <li><i class="fa fa-clock-o"></i>
                <%=: recipe.createdAt | formatDateOnly %>
              </li>
            </ul>
            <hr>
            <div class="col-xs-12 text-center">
              <canvas id="pieChart" height="200px" width="350px"></canvas>
            </div>
            <h2><small>配方成份</small></h2>
            <% for (var i=0;i<recipe.formula.length;i++) {%>
            <div class="row">
                <div class="col col-xs-5 col-sm-4 col-md-4 col-lg-3">
                  <stronge>・</stronge>
                    <label id="scent-<%= i %>" class="scent"
                    style="background:<%= recipe.formula[i].color %>;"><%= recipe.formula[i].scent %></label>
                </div>
                <div class="col col-xs-1"><label class="drops"> : </span></div>
                <div class="col col-xs-2">
                  <label id="drops-<%= i %>" class="drops"><%= recipe.formula[i].drops %></label>
                </div>
                <label id="color-<%= i %>" class="color hidden"><%= recipe.formula[i].color %></label>
            </div>
            <% } %>
          <hr>
          </h2>
            <h4>
            <small>其他訊息</small>
            <% if (recipe.message) { %>
              <p class="padding-5"><%= recipe.message %></p>
            <% } else { %>
  						<p class="padding-5">沒有資料</p>
            <% } %>
          </h4>
          </div>
          <!-- <div class="project-share">
					<ul class="list-inline comment-list-v2 pull-left">
						<li><i class="fa fa-eye"></i> <a href="#">25</a></li>
						<li><i class="fa fa-comments"></i> <a href="#">32</a></li>
						<li><i class="fa fa-retweet"></i> <a href="#">77</a></li>
					</ul>
					<ul class="list-inline star-vote pull-right">
						<li><i class="color-green fa fa-star"></i></li>
						<li><i class="color-green fa fa-star"></i></li>
						<li><i class="color-green fa fa-star"></i></li>
						<li><i class="color-green fa fa-star-half-o"></i></li>
						<li><i class="color-green fa fa-star-o"></i></li>
					</ul>
				</div> -->

        </div>
        <!-- end .profile-body -->

      </div>
      <!-- end col -->

    </div>
    <!-- end row -->
  </div>
  <% LayoutUtils.addScripts ('/assets/admin/js/plugin/moment/moment.min.js'); %>
    <% LayoutUtils.addScripts ('/assets/admin/js/plugin/chartjs/chart.min.js'); %>
      <% LayoutUtils.addScripts('/assets/labfnp/page/recipe/show.js'); %>
