<% LayoutUtils.addStylesheets('/assets/unify/css/pages/profile.css'); %>


<!--<div class="container">-->
<!--<pre><%= JSON.stringify(recipe, null, 2) %></pre>-->
<!--</div>-->

<style>
.cover-photo {
	min-height: 150px;
}
</style>


<div class="container content profile">

  <div class="row">

  	<div class="col col-md-6 col-md-offset-3">

			<!-- begin .profile-body -->
			<div class="profile-body">

	  		<div class="easy-block-v1">
					<img class="img-responsive cover-photo" src="http://loremflickr.com/640/480/perfume<%= ([',girl', ',boy', ''])[parseInt(Math.random() * 3)] %>/all?<%= Math.random() * Date.now() %>" alt="" />
					<div class="easy-block-v1-badge rgba-red">編輯精選</div>
				</div>
				<div class="projects">
					<h2>
						<a class="color-dark" href="#">
							<%= recipe.perfumeName %>
						</a>
					</h2>
					<ul class="list-unstyled list-inline blog-info-v2">
						<li>
							By:
							<a class="color-green" href="#">
								<%= recipe.authorName %>
							</a>
						</li>
						<li><i class="fa fa-clock-o"></i> <%= recipe.createdAt %></li>
					</ul>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing. Donec non dignissim eros. Mauris faucibus turpis volutpat sagittis rhoncus. Pellentesque et rhoncus sapien, sed ullamcorper justo.</p>
				</div>
				<div class="project-share">
					<ul class="list-inline comment-list-v2 pull-left">
						<li><i class="fa fa-eye"></i> <a href="#">25</a></li>
						<li><i class="fa fa-comments"></i> <a href="#">32</a></li>
						<li><i class="fa fa-retweet"></i> <a href="#">77</a></li>
					</ul>
					<ul class="list-inline star-vote pull-right">
						<li><i class="color-green fa fa-star"></i></li>
						<li><i class="color-green fa fa-star"></i></li>
						<li><i class="color-green fa fa-star"></i></li>
						<li><i class="color-green fa fa-star-half-o"></i></li>
						<li><i class="color-green fa fa-star-o"></i></li>
					</ul>
				</div>

			</div>
			<!-- end .profile-body -->


  	</div>

  </div>


</div>
