<!--=== Header ===-->
<div class="header">
  <div class="container">
    <!-- Logo -->
    <a class="logo" href="/">
      <!--<img src="/assets/labfnp/img/logo.png" width="103" height="39" alt="Logo">-->
      <h1>LFP</h1>
    </a>
    <!-- End Logo -->

    <!-- Topbar -->
    <div class="topbar">
      <ul class="loginbar pull-right">
        <% if (!req.session.authenticated) { %>
          <li><a href="/register">註冊</a></li>
          <li class="topbar-devider"></li>
          <li><a href="/login">登入</a></li>
        <% } else { %>
          <li><a href="/logout">登出</a></li>
          <li class="topbar-devider"></li>
          <li>
            <a href="/me">
              <%= req.session.passport.user.displayName %>
            </a>
          </li>
        <% } %>
      </ul>
    </div>
    <!-- End Topbar -->

    <!-- Toggle get grouped for better mobile display -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="fa fa-bars"></span>
    </button>
    <!-- End Toggle -->
  </div><!--/end container-->

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="<%= (req.path=='/')?'active':'' %>">
          <a href="/">首頁</a>
        </li>
        <li class="<%= (req.path=='/lab')?'active':'' %>">
          <a href="/lab">實驗室</a>
        </li>
        <li class="<%= (req.path=='/wall')?'active':'' %>">
          <a href="/wall">近期動態</a>
        </li>
        <li class="<%= (req.path=='/blog')?'active':'' %>">
          <a href="/blog">網誌</a>
        </li>
        <!--
        <li class="<%= (req.path=='/shop')?'active':'' %>">
          <a href="/shop">活動報名</a>
        </li>
        -->
      </ul>
    </div><!--/end container-->
  </div><!--/navbar-collapse-->
</div>
<!--=== End Header ===-->