<style>
  .shareSticker {
    max-width: 360px;
    padding-top: 10px;
  }
  .rrssb-buttons a {
    -webkit-filter: saturate(0.5);
    -moz-filter: saturate(0.5);
    -ms-filter: saturate(0.5);
    -o-filter: saturate(0.5);
    filter: saturate(0.5);
  }
  .rrssb-buttons a:hover {
    -webkit-filter: saturate(1);
    -moz-filter: saturate(1);
    -ms-filter: saturate(1);
    -o-filter: saturate(1);
    filter: saturate(1);
  }
</style>
<% data.items.forEach(function(post, index){ %>
  <div class="news-v3 bg-color-white margin-bottom-60">
    <% if (post.coverUrl) { %>
      <% if (post.coverType == 'img') { %>
        <img class="img-responsive full-width" src="<%= post.coverUrl %>" alt="">
      <% } else{ %>
        <div class="responsive-video">
          <iframe src="<%= post.coverUrl %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      <% } %>
    <% } %>

    <div class="news-v3-in">
      <ul class="list-inline posted-info">
        <% if (post.UserId) { %>
          <li>
            <i class="fa fa-user"></i>
            <a href="#"><%= post.User.displayName %></a>
          </li>
        <% } %>
        <li>
          <i class="fa fa-clock-o"></i>
          <%=: post.createdAt %>
        </li>
      </ul>

      <div class="blog-title">
        <h2>
          <a href="/blog/show/<%= post.id %>"><%= post.title %></a>
        </h2>
      </div>

      <div class="blog-content">
        <p><%= post.abstract %></p>
      </div>

      <!-- <ul class="post-shares">
        <li>
          <a href="#">
            <i class="rounded-x icon-speech"></i>
            <span>26</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="rounded-x icon-share"></i>
            <span>98</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="rounded-x icon-heart"></i>
            <span>30</span>
          </a>
        </li>
      </ul> -->
      <div class="margin-bottom-20">
        <% post.TagsArray.forEach(function(tag){ %>
          <span class="label label-default"><%= tag %></span>
        <% }); %>
      </div>
      <% if(social.targets.length > 0){ %>
        <div class="row shareSticker">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <% var socialData = social.data[index] %>
            <%- include ../lib/rrssbb.ejs %>
          </div>
        </div>
      <% } %>
    </div>
  </div>
<% }); %>
