<% data.items.forEach(function(post){ %>
  <div class="news-v3 bg-color-white margin-bottom-60">
    <% if (post.coverUrl) { %>
      <% if (post.coverType == 'img') { %>
        <img class="img-responsive full-width" src="<%= post.coverUrl %>" alt="">
      <% } else{ %>
        <div class="responsive-video">
          <iframe src="<%= post.coverUrl %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      <% } %>
    <% } %>

    <div class="news-v3-in">
      <ul class="list-inline posted-info">
        <% if (post.UserId) { %>
          <li>By <a href="#"><%= post.User.displayName %></a></li>
        <% } %>
        <li><%= post.createdAtFormat %></li>
      </ul>
      <h2><a href="/blog/show/<%= post.id %>"><%= post.title %></a></h2>

      <!-- <p class="lead">到底香水、香料與香味分子的關係是怎麼樣的的？</p> -->

      <p><%= post.abstract %></p>
      <!-- <p>我們可以這樣形容，當你手中捧到一束花時，可以聞到花束中的各種花材（ex:玫瑰、康乃馨..等)所組成的『這束花的味道』，接著抽出其中的一朵康乃馨，聞到的則是這『一朵康乃馨的味道』，而事實上，若深入去探究此康乃馨的氣味組成，則可小到香味分子的程度：花香由多種香味分子所組成。而這樣的組成就像香水、香料以及香味分子的不同級距來看，香水聞起來是一種味道而細究卻是多種香味分子的組成。</p> -->

      <!-- <ul class="post-shares">
        <li>
          <a href="#">
            <i class="rounded-x icon-speech"></i>
            <span>26</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="rounded-x icon-share"></i>
            <span>98</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="rounded-x icon-heart"></i>
            <span>30</span>
          </a>
        </li>
      </ul> -->
      <% post.TagsArray.forEach(function(tag){ %>
        <span class="label label-default"><%= tag %></span>
      <% }); %>
    </div>
  </div>
<% }); %>
