<div class="news-v3 bg-color-white margin-bottom-60">
  <% if (data.coverUrl) { %>
    <% if (data.coverType == 'img') { %>
      <img class="img-responsive full-width" src="<%= data.coverUrl %>" alt="">
    <% } else{ %>
      <div class="responsive-video">
        <iframe src="<%= data.coverUrl %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    <% } %>
  <% } %>
  <div class="news-v3-in">
    <ul class="list-inline posted-info">
      <% if (data.UserId) { %>
        <li>By <a href="#"><%= data.User.displayName %></a></li>
      <% } %>
      <li><%= data.createdAtFormat %></li>
    </ul>
    <h2><%= data.title %></h2>

    <%- data.content %>

    <!-- <ul class="post-shares">
      <li>
        <a href="#">
          <i class="rounded-x icon-speech"></i>
          <span>26</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="rounded-x icon-share"></i>
          <span>98</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="rounded-x icon-heart"></i>
          <span>30</span>
        </a>
      </li>
    </ul> -->
    <% data.TagsArray.forEach(function(tag){ %>
      <span class="label label-default"><%= tag %></span>
    <% }); %>
  </div>
</div>
